# Ignore tar archives
*.tar

# Environment variables
.env
.env.*

# Secrets and keys
*.pem
*.key
*.cert
*.crt
*.json

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Coder
.coder/

# Temporary files folder - never commit
tmp/
